body {
  background-image: url("./img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  
}


   
    
  
    
.titu {
  display: flex;
  align-items: center;
  margin-top: -8px; 
  text-align: center;
  margin-left: 25%;
  font-family: 'Times New Roman', Times, serif; /*tipografia*/
}

#titulo_comida {
    margin-left: 40px; /*acomodar verticamene con marguenes*/
    font-size: 90px; /*tamaño*/
  text-transform: uppercase; /*para poner las letras en mayuscula*/
    margin-top: 0%;  /*altura veticalmente con margenes*/

 }

  #titulo_comida1 {
    margin-left: -600px;
   margin-top: 100px;
}



.grid-container {
  display: flex;
  justify-content: center; /* Centra las imágenes horizontalmente */
  gap: 200px; /* Espacio entre las imágenes */
  font-size: 20px; /*tamaño de las letras*/
  font-family: 'Times New Roman', Times, serif; /*tipografia*/
  
}
   


 .img1{
  width: 220px;


 }
  
 .img2{
 width: 220px;
  
 }
 .img3{
 width: 190px;

 }

 #gato
 {
 color: #000;
 margin-top:15%;
    margin-left: 30px;
  
  
 }

 #conejos
 {
    color: #000;
    margin-top:15%;
    margin-left: -20px;
   
 }

 #perros
 {
    color: #000;
    margin-top:15%;
    margin-left:20px;
    

 }
a {
  text-decoration: none; /* le dicimos q nos es necesaria la decoracion en este caso estaba subrayando*/
  
}

.btn-pink {
  background-color: #ff69b4; /* Color de fondo rosa */
  color: white; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar como bloque en línea */
  font-size: 16px; /* Tamaño de la fuente */
  margin: 4px 2px; /* Margen alrededor del botón */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  border-radius: 12px; /* Bordes redondeados */
}

.btn-pink:hover {
  background-color: #fdafd6; /* Color de fondo rosa más claro al pasar el cursor */
} 
.btn-purple {
  background-color: #800080; /* Color de fondo morado */
  color: white; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar como bloque en línea */
  font-size: 16px; /* Tamaño de la fuente */
  margin: 4px 2px; /* Margen alrededor del botón */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  border-radius: 12px; /* Bordes redondeados */
}

.btn-purple:hover {
  background-color: #bd71bd; /* Color de fondo morado más claro al pasar el cursor */
}








