body {
  background-image: url("./img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;}


.medicamentos_a {
   
   margin-top: -10% ; 
  margin-right:80px;
    margin-left: 80px;
   margin-bottom:200px;
    width: 12%;
}


#titulo_medicametos {
    margin-left: 100px;
    font-size: 90px;
    margin-top: 0%;
    text-align: center;
    
}

#titulo_medicamentos1 {
    margin-left: 900px;
    margin-top: -70px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 120px; /* espacio entre elementos */
  padding: 40px;
  text-align: center;
}

.item img {
border-radius: 10%;
  width: 200px; /* ajusta según tu diseño */
  height: 200px;
}

.item h1 {
  font-size: 1.2em;
  margin-top: 10px;
}

.logo {
border-radius: 10%;
  width: 70px; 
  height: 70px;
  margin-left: 90px;
}
     
