 #body_index {
   background-image: url("./img/fondo.png");
   background-repeat: no-repeat;
   background-size: cover;
 }


 .barra_rosada {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #b591eb;
   flex-wrap: nowrap;
   /* evita que se bajen */
   overflow-x: auto;
   /* permite desplazamiento si no cabe */
   gap: 6px;
   padding: 0px 20px;
   /*largo y ancho*/
   margin-top: 15px;
   height: 79px;
 }

 /* IZQUIERDA */
 .barra_izquierda {
   display: flex;
   align-items: center;
   gap: 5px;
   flex-shrink: 0px;
 }

 /* DERECHA */
 .barra_derecha {
   display: flex;
   align-items: center;
   gap: 0px;
   flex-shrink: 0;
   margin-right: -30px;
 }

 /* BUSCADOR */

 /* ICONOS */
 #mune {
   width: 50px;

 }

 #logo {
   width: 80px;
   height: auto;
 }

 .inicio {
   width: 60px;
 }

 .lusuario {
   width: 80px;
 }

 .boton-redireccion {
   color: #0a0a0a;
 }

 /* CONTENIDO CENTRAL */
 .contenido_central {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: -30px;
   text-align: center;
 }

 .titulo {
   font-size: 55px;
   text-transform: uppercase;
   font-family: 'Times New Roman', Times, serif;
   margin-bottom: 0px;
   color: black;
   margin-top: 60px;
 }



 .card-img-top {
   height: 150px;
   object-fit: cover;
 }



 .carrito-view .total-box {
   margin-top: 20px;
   padding: 20px;
   text-align: right;
   background: #fff;
   border-radius: 8px;
   font-size: 1.3em;
   font-weight: bold;
   color: darkslategray;
   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

 }

 .carrito-view .btn {
   padding: 10px 14px;
   margin: 15px;
   border-radius: 10px;
   text-decoration: no;
   font-size: 0.9em;
   
 }

 .carrito-view.btn-danger:hover {
   background: rgb(177, 12, 103);
 }

 .carrito-view.btn-warning {
   background: rgb(217, 4, 189);
 }

 .carrito-view .btn-warning:hover {
   background: rgb(27, 56, 202);
 }

 .carrito-view.btn-success{
   background: rgb(8, 135, 194);

 }

 .carrito-view.btn-success:hover {
   background: rgb(189, 226, 138);
 }

 .carrito-view.tabla_carrito {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
   background: #fff;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
 }

 .carrito-view.tabla_carrito th,
 .carrito-view.tabla_carrito td {
   padding: 14px;
   text-align: center;
   border-bottom: 1px solid #eee;
 }

 .carrito-view .tabla_carrito th {
   background-color:rgb(215, 16, 222);
   color:rgb(11, 8, 80);
   text-transform:uppercase;
   Letter-spacing:0.5px;
  

 }

 .carrito-view .table_carrito tr:hover {
   background: #a06af1;
 }
 .card-img-top img {
  width: 100%;
  height: 220px;         /* ajusta según tu diseño */
  object-fit: cover;     /* recorta sin deformar */
  border-bottom: 1px solid #ddd;}

 /* RESPONSIVE AJUSTADO */
 @media (max-width: 700px) {

   /*-@ Esto hace que los estilos dentro de ese bloque solo se apliquen si la pantalla es menor a 600px.*/
   .buscar input {
     width: 120px;
     font-size: 13px;
   }

   .barra_rosada {
     padding: 5px 10px;
     /*tamaño de cuando se encoge*/
   }

   #logo {
     width: 80px;
   }

   #mune,
   .lusuario,
   .inicio {
     width: 50px;
   }

   .titulo {
     width: 500px;
   }


 }