<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inventario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='alimentos_gatos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='principal.css') }}">

</head>

<body>

    {% include 'menu.html' %}

    <div class=titu>

        <h1 id="titulo_gato">Alimentos gatos <h1>
                <p id="titulo_gato1"> inventario </p>

    </div>

    <div class="grid-container">
        <a>
            <img src="{{ url_for('static', filename='img/omg.gato.png') }}" alt=imagen class="img1">
            <p id="marca1">¡oh mai gat! </p>
        </a>
        <a>
            <img src="{{ url_for('static', filename='img/comida.gatos.png') }}" alt="imagen" class="img2">
            <p id="marca2">Q-ida cat</p>
        </a>

        <a>
            <img src="{{ url_for('static', filename='img/cm.gatos.png') }}" alt="imagen" class="img3">
            <p id="marca3">monello</p>
        </a>
    </div>


    </section>

</body>

</html>