<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mi app {% endblock %} </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/principal.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/bsb-animation/bsb-animation.css">
  <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/bsb-overlay/bsb-overlay.css">
  <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/font-size/font-size.css">
  <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/margin/margin.css">
  <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/padding/padding.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>

  {% block navbar %}
  {% include 'menu.html' %}
  {% endblock %}
  <!-- navbar y endblock  borra el menú porque se esta  diciendo: “Aquí va el menú… pero no quiero mostrar nada”. -->

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="container mt-3">
    {% for msg in messages %}
    <div class="alert alert-info text-center" role="alert">{{msg}}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}


  
  {% block content %}
<div class="row" id="productos">
  {% for p in productos %}
  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <article class="d-flex">
      <div class="card border border-dark" style="--bs-card-border-radius:0; --bs-card-inner-border-radius:0;">

        <figure class="card-img-top m-0 overflow-hidden bsb-overlay-hover">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#modal{{ p.idProducto }}">
            <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy"
                 src="{{ url_for('static', filename='uploads/' ~ p.imagen) }}" alt="{{ p.nombre_producto }}">
          </a>
          <figcaption>
            <h4 class="h6 text-white mt-2">Ver producto</h4>
          </figcaption>
        </figure>

        <div class="card-body border-0 bg-white p-4">
          <h5 class="card-title">{{ p.nombre_producto }}</h5>
          <p class="card-text text-secondary">{{ p.descripcion }}</p>
          <p class="card-text"><strong>${{ "{:,}".format(p.precio) }}</strong></p>

          <form action="/agregarCarrito/{{ p.idProducto }}" method="POST">
            <input type="number" name="cantidad" value="1" min="1" max="{{ p.cantidad }}" 
                   class="form-control mb-2" {% if p.cantidad == 0 %}disabled{% endif %}>

            {% if p.cantidad == 0 %}
              <p class="text-danger">Producto agotado</p>
            {% else %}
              <p class="text-muted">Disponibles: {{ p.cantidad }}</p>
            {% endif %}

            <button type="submit" 
              class="w-100 {% if p.cantidad == 0 %}btn-secondary{% else %}btn-success{% endif %}"
              {% if p.cantidad == 0 %}disabled{% endif %}>Agregar al carrito</button>
          </form>
        </div>
      </div>
    </article>
  </div>
  {% endfor %}
</div>
{% endblock %}


</body>

</html>