{% extends 'base.html' %}

{% block title %} inventario {%endblock%}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='inventario.css') }}">


<div class="container mb-4">
  <h3>Gestion de categorias</h3>

  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregar">Agregar categorias</button>
  <br> <br>
  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>descripcion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for c in categorias %}
      <tr>
        <td><img src="{{url_for('static', filename='categorias/'+ c.imagen)}}" width="80"></td>
        <td>{{ c.nombre }}</td>
        <td>${{ c.descripcion }}</td>
        <td><button class="btn-pink" data-bs-toggle="modal" data-bs-target="#modalEditar{{c['idCategoria]}}">editar
            productos</button>
          <button class="btn-purple" data-bs-toggle="modal" data-bs-target="#modalEliminar{{c['idCategoria']}}">eliminar
            productos</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </th>
  <th>
</div>

<!-- The Modal -->
<div class="modal" id="modalAgregar">
  <div class="modal-dialog">
    <form action="{{url_for('agregar_categorias')}}" method="POST" enctype="multipart/form-data">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">agregar_productos</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-12">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" name="nombre" id="nombre" required>
            </div>

            <div class="col-md-12">
              <label for="descripcion" class="form-label">Descripcion</label>
              <input type="text" class="form-control" name="descripcion" id="descripcion" required>
            </div>

            <div class="col-md-12">
              <label for="imagen" class="form-label">Imagen</label>
              <input type="file" class="form-control" name="imagen" id="imagen" required>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">guardar</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        </div>

      </div>
    </form>
  </div>
</div>
{% for c in categorias %}
<!-- The Modal Editar-->
<div class="modal" id="modalEditar{{c['idCategoria']}}">
  <div class="modal-dialog">
    <form action="{{url_for('editar_categoria', id= c ['idCategoria'])}}" method="POST" enctype="multipart/form-data">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Editar categoria</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group">
            <label for="nombre {{ c ['idCategoria']}}">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre{{ c ['idCategoria']}}"
              value="{{ c['nombre_categoria']}}" required>
          </div>

          <div class="form-group">
            <label for="descripcion {{ c ['idCategoria']}}">Descripción</label>
            <input type="text" class="form-control" name="descripcion" id="descripcion{{ c ['idCategoria']}}"
              value="{{ c['descripcion']}}" required>
          </div>

          <div class="form-group">
            <label for="imagen {{ c ['idCategoria']}}">Imagen</label>
            <input type="file" class="form-control" name="imagen" id="imagen{{ c ['imagen']}}" value="{{ c['imagen']}}">
          </div>
         
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">guardar</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        </div>

      </div>
    </form>
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="modalEliminar{{c['idCategoria']}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="modalLabel{{c['idCategoria']}}">eliminar_categoria</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row g-3">
          <p>¿Estas seguro que deseas eliminar este categoria?</p>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a href="{{url_for('eliminar_categoria',id=c['idCategoria'])}}" class="btn btn-danger">eliminar</a>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
      </div>

    </div>
    </form>
  </div>
</div>
{% endfor %}


{% endblock %}