{% extends 'base.html' %}
{% block title %} index {% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Huellitas Felices</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/huellitas_felices.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='principal.css') }}">
  <script src="https://kit.fontawesome.com/d5cb297f2d.js" crossorigin="anonymous"></script>
</head>

<body id="body_index">

      {% include 'menu.html' %}
 
<!-- Contenido central -->
<div class="contenido_central">
  <h1 class="titulo">INVENTARIO</h1>
  <img src="{{ url_for('static', filename='img/Index.png') }}" alt="imagen" class="imagen">
</div>

<nav>
      <a href="" class="nav-link"></a><a href="" class="nav-link"></a><a href="" class="nav-link"></a>
    </nav>

  
</body>

</html>
{% endblock %}