{% extends 'base.html' %}
{% block title %} index {% endblock %}

{% block content %}

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/huellitas_felices.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='principal.css') }}">
  <script src="https://kit.fontawesome.com/d5cb297f2d.js" crossorigin="anonymous"></script>


<body id="body_index"></body>



  <!-- Contenido central -->
  <div class="contenido_central">
    <h1 class="titulo">INVENTARIO</h1>
    <!-- <img src="{{ url_for('static', filename='img/Index.png') }}" alt="imagen" class="imagen">-->
  </div>
<div class="container overflow-hidden">
    <div class="row gy-4 gy-xxl-5">
{% for p in productos %}
<img src="{{url_for('static',filename='uploads/'+ p.imagen)}}" alt="{{p.nombre_producto}}">
{% endfor %}


  </div>
</div>
  
  <nav>
    <a href="" class="nav-link"></a><a href="" class="nav-link"></a><a href="" class="nav-link"></a>
  </nav>
   <header>
        <h1 id="titulo">Alimentos <h1>
                <p id="titulo2"> inventario </p>
    </header>




 
  

</body>

{% endblock %}