<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inventario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Higiene.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='principal.css') }}">
</head>

<body>

    {% include 'menu.html' %}

    <div class=titu>
        <h1 id="titulo_higiene">Higiene <h1>
                <p id="titulo_higiene1"> inventario </p>

    </div>

    <div class="grid-container">
        <a>
            <img src="{{ url_for('static', filename='img/shampoo.png') }}" alt=imagen class="img1">
            <p id="marca1">shampoos y acondicionadores... </p>
        </a>
        <a>
            <img src="{{ url_for('static', filename='img/to.higiene.png') }}" alt="imagen" class="img1">
            <p id="marca2">toallitas humedas</p>
        </a>

        <a>
            <img src="{{ url_for('static', filename='img/arena.higiene.png') }}" alt="imagen" class="img1">
            <p id="marca3">Arenas higienicas</p>
        </a>
        <a>
            <img src="{{ url_for('static', filename='img/cortauñas.png') }}" alt="imagen" class="img2">
            <p id="marca3">cortauñas y limas </p>
        </a>
        <a>
            <img src="{{ url_for('static', filename='img/pañales.png') }}" alt="imagen" class="img2">
            <p id="marca3">pañales para animales </p>
        </a>
        <a>
            <img src="{{ url_for('static', filename='img/peines.png') }}" alt="imagen" class="img2">
            <p id="marca3">peines para animales </p>
        </a>

    </div>


    </section>

</body>

</html>