{% extends 'base.html' %}

{% block title %}inventario {%endblock%}

{% block content %}


{% endblock %}
<div class="container mb-4">
  <h3>Gestion de Inventario</h3>

  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregar">Agregar productos</button>
  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for p in productos %}
      <tr>
        <td><img src="{{url_for('static', filename='uploads/'+ p.imagen)}}" width="80"></td>
        <td>{{ p.nombre_productos }}</td>
        <td>${{ p.precios }}</td>
        <td>{{ p.cantidad }}</td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </th>
  <th>
</div>

<div class="modal fade" id="modalAgregar" tabindex="-1">
  <div class="modal-dialog">
    <form method="POST" action="{{url_for('agregar_producto')}}">
      <div>

      </div>

    </form>


  </div>
</div>