{% extends 'base.html' %}

{% block title %} inventario {%endblock%}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='inventario.css') }}">


<div class="container mb-4">
  <h3>Gestion de Inventario</h3>

  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregar">Agregar productos</button>
  <br><br>
  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Categoria</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for p in productos %}
      <tr>
        <td><img src="{{url_for('static', filename='uploads/'+ p.imagen)}}" width="80"></td>
        <td>{{ p.nombre_producto }}</td>
        <td>${{ p.precio }}</td>
        <td>{{ p.cantidad }}</td>
        <td>{{ p.idCategoria }}</td>
        <td><button class="btn-pink" data-bs-toggle="modal" data-bs-target="#modalEditar{{p['idProducto']}}">editar
            productos</button>
          <button class="btn-purple" data-bs-toggle="modal" data-bs-target="#modalEliminar{{p['idProducto']}}">eliminar
            productos</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </th>
  <th>
</div>
{% for p in productos %}

<!-- The Modal -->
<div class="modal" id="modalAgregar">
  <div class="modal-dialog">
    <form action="{{url_for('agregar_producto')}}" method="POST" enctype="multipart/form-data">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">agregar_productos</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-6">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" name="nombre" id="nombre" required>
            </div>
            <div class="col-md-6">
              <label for="precio" class="form-label">Precio</label>
              <input type="text" class="form-control" name="precio" id="precio" required>
            </div>
            <div class="col-md-12">
              <label for="descripcion" class="form-label">Descripcion</label>
              <input type="text" class="form-control" name="descripcion" id="descripcion" required>
            </div>
            <div class="col-md-6">
              <label for="cantidad" class="form-label">Cantidad</label>
              <input type="number" class="form-control" name="cantidad" id="cantidad" required>
            </div>
            <div class="col-md-6">
              <label for="imagen" class="form-label">Imagen</label>
              <input type="file" class="form-control" name="imagen" id="imagen" required>
            </div>
            <div class="form-group">
              <label for="categoria" class="form-label">Categoria</label>
              <select name="categoria" id="">
                <option value="">Selecciona la categoria</option>
                {% for c in categorias %}
              <option value="{{c.idCategoria}}" {% if p.idCategoria==c.idCategoria %}selected{% endif %}>{{c.nombre}}</option>{% endfor %}
              </select>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">guardar</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        </div>

      </div>
    </form>
  </div>
</div>


<!-- The Modal Editar-->
<div class="modal" id="modalEditar{{p['idProducto']}}">
  <div class="modal-dialog">
    <form action="{{url_for('editar_producto', id= p ['idProducto'])}}" method="POST" enctype="multipart/form-data">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Editar productos</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group">
            <label for="nombre {{ p ['idProducto']}}">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre{{ p ['idProducto']}}"
              value="{{ p['nombre_producto']}}" required>
          </div>

          <div class="form-group">
            <label for="descripcion {{ p ['idProducto']}}">Descripción</label>
            <input type="text" class="form-control" name="descripcion" id="descripcion{{ p ['idProducto']}}"
              value="{{ p['descripcion']}}" required>
          </div>

          <div class="form-group">
            <label for="precio {{ p ['idProducto']}}">Precio</label>
            <input type="number" class="form-control" name="precio" id="precio{{ p ['idProducto']}}"
              value="{{ p['precio']}}" required>
          </div>

          <div class="form-group">
            <label for="cantidad {{ p ['idProducto']}}">Cantidad</label>
            <input type="number" class="form-control" name="cantidad" id="cantidad{{ p ['cantidad']}}"
              value="{{ p['cantidad']}}" required>
          </div>

          <div class="form-group">
            <label for="imagen {{ p ['idProducto']}}">Imagen</label>
            <input type="file" class="form-control" name="imagen" id="imagen{{ p ['imagen']}}" value="{{ p['imagen']}}">
          </div>
          <div class="form-group">
            <label for="categoria" class="form-label">Categoria</label>
            <select name="categoria" id="">
              <option value="">Selecciona la categoria</option>
              {% for c in categorias %}
              <option value="{{c.idCategoria}}" {% if p.idCategoria==c.idCategoria %}selected{% endif %}>{{c.nombre}}</option>{% endfor %}
            </select>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">guardar</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        </div>

      </div>
    </form>
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="modalEliminar{{p['idProducto']}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="modalLabel{{p['idProducto']}}">eliminar_productos</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row g-3">
          <p>¿Estas seguro que deseas eliminar este producto?</p>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a href="{{url_for('eliminar_producto',id=p['idProducto'])}}" class="btn btn-danger">eliminar</a>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
      </div>

    </div>
    </form>
  </div>
</div>

{% endfor %}
{% endblock %}