<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jugueteria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='jugueteria.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='principal.css') }}">

</head>

<body>

    {% include 'menu.html' %}

    <header>
        <h1 id="titulo_juguete">Jugueteria<h1>
                <p id="titulo_juguete1"> inventario </p>
    </header>

    <div class="jugueteria_b"></div>
    <section id="imagenes">
        <div class="grid-container">
            <div class="item">
                <img src="{{ url_for('static', filename='img/juguetes.gatos.png') }}" alt="">
                <h1>Jugueteria para gatos</h1>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='img/juguetes.perros.png') }}" alt="">
                <h1>Jugueteria para perros</h1>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='img/juguetes.roedores.png') }}" alt="">
                <h1>Jugueteria para roedores</h1>
            </div>
        </div>

    </section>