<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>inventario</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='inventario_comida.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='principal.css') }}">



</head>

<body>


  {% include 'menu.html' %}

  <div class=titu>

    <h1 id="titulo_comida">Alimentos <h1>
        <p id="titulo_comida1"> inventario </p>

  </div>


  <div class="grid-container">
    <a href="{{ url_for('alimentos_gatos') }} ">
      <img src="{{ url_for('static', filename='img/al.gatos.png') }}" alt=imagen class="img1">
      <p id="gato">Comida para gatos </p>
    </a>
    <a href="{{url_for('alimentos_conejos_y_roedores')}}">
      <img src="{{ url_for('static', filename='img/al.conejos.png') }}" alt="imagen" class="img2">
      <p id="conejos">Comida para conejos y roedores</p>
    </a>
    <a href="{{url_for('alimentos_perros')}} ">
      <img src="{{ url_for('static', filename='img/al.perros.png') }}" alt="imagen" class="img3">
      <p id="perros">Comida para perros</p>
  </div>
  </a>




  </section>

</body>

</html>